---
name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
    tags:
      - "v*"
      - "[0-9]*"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages-deploy
  allow-concurrency: false

jobs:
  build-and-deploy:
    name: Build and Deploy with Toucan
    uses: toucansites/github-workflows/.github/workflows/deploy.yml@main
    permissions:
      contents: read
      pages: write
      id-token: write
    with:
      target: "github-pages"
